<p>component1 works!</p>
<h1 id="titol">Hola, bones aquest es el titol de Component1</h1>
<h1>{{this.dom1}}</h1>
<table>
  <tr>
    <th>Titol</th>
    <th>Titol2</th>
  </tr>
  <tr>
    <td>aaaa</td>
    <td>bbbb</td>
  </tr>
</table>

<p id="contarParagraf">Lorem Ipsum nadir i ell</p>
<p id="numParaules"></p>

<img id="imatgedom" src="" />

<div id="divServei"></div>


<select id="exercici8">
  <option value="Valor1">Valor1</option>
  <option value="Valor2">Valor2</option>
  <option value="Valor3">Valor3</option>
</select>
<div id="divResultat"></div>
